*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: gray;
}

h1{
    text-align: center;
    color: rgb(66, 34, 11);
    margin: auto;
    padding: auto;
}

img{
    height: 380px;
    width: 100%;
    border: 20px;
    background-position: center 65%;
    object-fit: cover;
    background-position: center 65%;
    display: block;
}

li{
    margin-bottom: 15px;
}


ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    color: rgb(66, 34, 11);
}

main{
    background-color: white;
    width: 794px;          
    min-height: 1123px;    
    margin: -60px auto 40px; 
    padding: 40px 60px;
    position: relative;    
    z-index: 1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}